In [1]:
import pandas as pd

In [3]:
file_path = "syndata1/syndata1"
full_file_path = "syndata1/syndata1.txt"

In [8]:
df = pd.read_csv(full_file_path, delimiter=",", names=["source", "target", "day", "weight"])

In [9]:
df.head()

   source  target  day  weight
0    1617    8015    0     254
1     211    6894    0     165
2    3860    8708    0      39
3    1824    7006    0     154
4    2323    8500    0     258

In [10]:
df.to_csv(file_path+"right_format.txt", sep = "\t", header=False, index = False)